NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_SUPABASE_URL="http://127.0.0.1:54321"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="replace-with-local-anon-jwt"
NEXT_PUBLIC_AUTH_EMAIL_FALLBACK_ENABLED="false"
NEXT_PUBLIC_GA_MEASUREMENT_ID="G-MG0RTPLF1K"

SUPABASE_SECRET_KEY="replace-with-local-service-role-jwt"
SUPABASE_STORAGE_BUCKET="bonsai-beta-media"

SIGNUP_RATE_LIMIT_WINDOW_SECONDS="900"
SIGNUP_RATE_LIMIT_MAX_PER_IP="10"
SIGNUP_RATE_LIMIT_MAX_PER_EMAIL="5"
HEALTHCHECK_ENABLED="true"

PUBLIC_CLIENT_APP_INTEGRITY_MODE="off"
PUBLIC_CLIENT_APP_INTEGRITY_ALLOW_DEV_BYPASS="false"
PUBLIC_CLIENT_APP_INTEGRITY_DEV_TOKEN_HASH=""
APPLE_APP_ATTEST_TEAM_ID=""
APPLE_APP_ATTEST_BUNDLE_ID=""
GOOGLE_PLAY_INTEGRITY_PACKAGE_NAME=""
GOOGLE_PLAY_INTEGRITY_PROJECT_NUMBER=""

MOBILE_UPLOAD_RATE_LIMIT_WINDOW_SECONDS="60"
MOBILE_UPLOAD_RATE_LIMIT_MAX="20"
MOBILE_POST_RATE_LIMIT_WINDOW_SECONDS="300"
MOBILE_POST_RATE_LIMIT_MAX="20"
MOBILE_COMMENT_RATE_LIMIT_WINDOW_SECONDS="300"
MOBILE_COMMENT_RATE_LIMIT_MAX="40"
MOBILE_REPORT_RATE_LIMIT_WINDOW_SECONDS="3600"
MOBILE_REPORT_RATE_LIMIT_MAX="20"
MOBILE_LIKE_RATE_LIMIT_WINDOW_SECONDS="60"
MOBILE_LIKE_RATE_LIMIT_MAX="120"
MOBILE_MEDIA_RATE_LIMIT_WINDOW_SECONDS="60"
MOBILE_MEDIA_RATE_LIMIT_MAX="300"
